.card {
  float: left;
  width: 150px;
  height: 210px;
  margin-right: 20px;
  background-size: 100% 100%;
  /*background-color: gray;*/
}

.covered {
  /*background-image: url("file:///Users/student/2014-10-blackjack/img/card-back.png");*/
  border: 75px solid black;
  border-radius: 5px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.hand {
  overflow: auto;
}

